{% extends 'base.html' %}

{% block content %}

{% include 'navbar.html' %}
    <div class="min-h-screen w-full bg-brancoCinza dark:bg-[#1a1a1a] flex justify-center">  
        <div class=" bg-white dark:bg-[#22211D] p-6 min-h-screen rounded-lg shadow-lg w-full md:w-3/4 lg:x-2/4 mt-10">

            <form class="flex flex-col justify-between mt-10" method="POST">
                {{ form.csrf_token }}
                    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">

                        <div class="font-inter">
                            {{ form.nome_tabela.label (class="ml-10 mt-5 dark:text-[#F5F2EB] font-inter block text-gray-900") }}
                            {{ form.nome_tabela(class="border border-gray-300 bg-transparent rounded-lg p-1 mx-10 w-10/12 lg:w-8/12") }}
                        </div>

                        <div class="font-inter">
                            {{ form.esquema.label (class="ml-10 mt-5 dark:text-[#F5F2EB] font-inter block text-gray-900") }}
                            {{ form.esquema(class="border border-gray-300 bg-transparent rounded-lg p-1 mx-10 w-10/12 lg:w-8/12")  }}
                        </div>
                        
                    </div>
                    
                    {{ form.descricao_tabela.label (class="ml-10 mt-5 dark:text-[#F5F2EB] font-inter block text-gray-900") }} {{ form.descricao_tabela(class="border border-gray-300 bg-transparent w-10/12 rounded-lg p-1 mx-10") }}

                    {{ form.dag.csrf_token }}
                    {{ form.dag.dag.label (class="ml-10 mt-5 font-inter dark:text-[#F5F2EB] block text-gray-900") }} {{ form.dag.dag(class="border border-gray-300 bg-transparent rounded-lg p-1 mx-10 w-10/12") }}
                    {{ form.dag.schedule.label (class="ml-10 mt-5 font-inter dark:text-[#F5F2EB] block text-gray-900") }} {{ form.dag.schedule(class="border border-gray-300 bg-transparent p-1 rounded-lg mx-10 w-10/12") }}

                    {{ form.origem.csrf_token }}
                    {{ form.origem.sistema_origem.label (class="ml-10 mt-5 dark:text-[#F5F2EB] font-inter block text-gray-900") }} {{ form.origem.sistema_origem(class="border border-gray-300 bg-transparent p-1 rounded-lg w-10/12 mx-10") }}
                    {{ form.origem.tabela_origem.label (class="ml-10 mt-5 dark:text-[#F5F2EB] font-inter block text-gray-900") }} {{ form.origem.tabela_origem(class="border border-gray-300 bg-transparent p-1 rounded-lg w-10/12 mx-10") }}

                    {{ form.csrf_token }}

                    <div id="codemirror-wrapper" class="mb-6 ml-10 flex flex-col w-10/12">
                        <label for="{{ form.create_table_sql.id }}" class=" mt-5 font-inter">
                            {{ form.create_table_sql.label }}
                        </label>
                        
                        {{ form.create_table_sql(
                            id=form.create_table_sql.id,
                            rows="10", 
                            class="border border-gray-300 bg-transparent p-1 rounded-lg w-10/12 mx-10"
                        ) }}
                        
                        {% for error in form.create_table_sql.errors %}
                            <span class="text-red-500 text-sm">{{ error }}</span>
                        {% endfor %}
                    </div>

                {{form.btnSubmit(class="bg-green-500 mt-5 w-28 mx-auto p-2 rounded-lg cursor-pointer")}}
            </form>
        </div>
    </div>
    
{% endblock %}

