{% extends 'base.html' %}

{% block content %}

{% include 'navbar.html' %}

<!-- Container principal -->
<div class="flex flex-col items-center w-full min-h-screen bg-gray-100 pt-16 overflow-x-hidden">

  <!-- Cards de resumo -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-10 w-10/12">
    <div class="bg-white rounded-2xl shadow p-6 text-center hover:scale-105 transition">
      <h2 class="text-3xl font-bold text-gray-800">{{numero_esquemas}}</h2>
      <p class="text-gray-500 mt-1">Esquemas</p>
    </div>
    <div class="bg-white rounded-2xl shadow p-6 text-center hover:scale-105 transition">
      <h2 class="text-3xl font-bold text-gray-800">{{numero_tabelas}}</h2>
      <p class="text-gray-500 mt-1">Tabelas</p>
    </div>
    <div class="bg-white rounded-2xl shadow p-6 text-center hover:scale-105 transition">
      <h2 class="text-3xl font-bold text-gray-800">67</h2>
      <p class="text-gray-500 mt-1">Dags</p>
    </div>
    <div class="bg-white rounded-2xl shadow p-6 text-center hover:scale-105 transition">
      <h2 class="text-lg font-bold text-gray-800">{{ultima_atualizacao}}</h2>
      <p class="text-gray-500 mt-1">Última atualização</p>
    </div>
  </div>

    <figure class="highcharts-figure">
        <div id="container" class="hidden md:block"></div>
            <p class="highcharts-description"></p>
    </figure>

  <!-- Últimas atualizações -->
  <div class="w-10/12 mt-6 bg-white rounded-2xl shadow p-6">
    <h2 class="text-xl font-bold text-gray-700 mb-4">Últimas Atualizações</h2>
    {% if logs_atualizacao %}
      <ul class="divide-y divide-gray-200">
        {% for log in logs_atualizacao %}
          <li class="py-3 flex justify-between items-center">
            <span class="text-gray-500 text-sm"><strong>Esquema: </strong>{{ log.esquema }}</span> 
            <span class="text-gray-500 text-sm"><strong>Tabela: </strong>{{log.nome_tabela}} atualizada.</span>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="text-gray-500">Nenhuma atualização recente encontrada.</p>
    {% endif %}
  </div>

  <!-- Rodapé -->
  <footer class="mt-10 mb-6 text-gray-400 text-sm">
    © {{ current_year }} Live!Tech DW Docs — Todos os direitos reservados.
  </footer>

</div>

{% endblock %}

