<main>

    <h1 class="main-title">Home</h1>

    <div class="banner">
        <img src="{{ url_for('static', filename='imgs/bannerHome.png') }}" class="img5" alt="teste">
    </div>

    <section class="salas">
        <ul class="infos">
            <li>
                <div class="escritArea2">
                    <p class="conteudoH">Total de Salas</p>
                    <p class="conteudoQ">{{qtd_sala}}
                    </p>
                </div>
            </li>

            <li>
                <div class="escritArea2">
                    <p class="conteudoH">Total de Armários</p>
                    <p class="conteudoQ">{{qtd_armario}}
                </div>
            </li>

            <li>
                <div class="escritArea2">
                    <p class="conteudoH">Total de Ferramentas</p>
                    <p class="conteudoQ">{{qtd_ferramenta}}
                </div>
            </li>

            <li>
                <div class="escritArea2">
                    <p class="conteudoH">Ferramentas Defeituosas</p>
                    <p class="conteudoQ">{{qtd_ferramenta_sup}}
                </div>
            </li>
        </ul>
    </section>

</main>
