{% extends 'base.html' %}

{% block content %}
<div class="flex min-h-screen">
    <!-- Coluna esquerda -->
    <div class="w-2/5 bg-begePrincipal hidden md:flex flex-col pt-40 items-center">
        <div class="flex m-10 justify-center">
            <img src="{{ url_for('static', filename='imgs/logo_live.png') }}" alt="Logo" class="w-60">
        </div>
        <h1 class="text-brancoPrincipal flex justify-center m-10 text-3xl font-bold">Bem Vindo</h1>
        <hr class="w-1/2 text-brancoPrincipal border-2 border-solid border-brancoPrincipal">
        <p class="text-brancoPrincipal text-xl flex text-center font-light mt-10">Entre em nosso sistema de distribuição de lojas</p>
    </div>

    <!-- Coluna direita -->
    <div class="w-3/5 min-h-screen grid place-items-center justify-center">    
            
            <div class="container">

                <form action="" method="POST" class="formulario">
                    {{form.csrf_token}}

                    {{form.email.label(class="cor",style="margin-bottom: 10px; display:block;")}}
                    {{form.email(class="form-control", placeholder='Digite seu email')}}

                    {{form.senha.label(class="cor",style="margin-bottom: 10px; display:block;")}}
                    {{form.senha(class="form-control", placeholder='Digite sua senha')}}

                    {{form.btnSubmit(class="button")}}
                </form>
            </div>
{% endblock %}