{% extends 'base.html' %}

{% block content %}
<div class="flex h-screen">
    <div class="hidden md:flex bg-begePrincipal w-2/5 flex-col pt-40 items-center">
        <div class="flex m-10 justify-center">
            <img src="{{ url_for('static', filename='imgs/logo_live.png') }}" alt="Logo" class="w-60">
        </div>
        <h1 class="text-brancoPrincipal flex justify-center m-10 text-3xl font-bold">Bem Vindo</h1>
        <hr class="w-1/2 text-brancoPrincipal border-2 border-solid border-brancoPrincipal">
        <p class="text-brancoPrincipal text-xl flex text-center font-light mt-10">Entre em nosso sistema de distribuição de lojas</p>
    </div>

    <div class="w-screen md:w-3/5 min-h-screen grid place-items-start md:place-items-center justify-center bg-brancoCinza">    

            <div class="w-80 relative mb-10 bottom-5">

                <img src="{{ url_for('static', filename='imgs/live-marrom.png') }}" alt="Logo" class="w-60 mx-auto mt-32 md:hidden">

                <form action="" method="POST" class="w-full mt-28">
                    {{form.csrf_token}}

                    {{form.email.label(class="text-begePrincipal mb-2 block")}}
                    {{form.email(class="w-full bg-brancoForm p-2 mb-3 border-solid border border-brancoBorda rounded-md focus:outline-none ", placeholder='Digite seu email')}}

                    {{form.senha.label(class="text-begePrincipal mb-2 block")}}
                    {{form.senha(class="w-full bg-brancoForm p-2 mb-3 border-solid border border-brancoBorda rounded-md focus:outline-none ", placeholder='Digite sua senha')}}

                    {{form.btnSubmit(class="w-full bg-begePrincipal cursor-pointer text-brancoPrincipal p-2 border-solid border-1 border-transparent rounded-md")}}
                </form>
            </div>
    </div>


{% endblock %}