{% extends 'base.html' %}

{% block content %}

    <body class="p-0 m-0 box-border">
        <header class="flex items-center justify-between bg-gradient-to-r from-begePrincipal to-begeForte h-20 w-full flex-row text-brancoCinza">
            <div class="flex items-center gap-4 ml-10">
                <button class="open-modal" data-modal="modal-1">
                    <i class="fa-solid fa-bars text-4xl cursor-pointer"></i>
                </button>
                <a href="{{url_for('home')}}" class="decoration-0">
                    <img src="{{url_for('static', filename='imgs/livetech.png')}}" alt="" class="w-40">
                </a>
            </div>

            <div class="flex items-center gap-4 mr-10">
                <a href="{{url_for('home')}}" class="flex flex-row items-center gap-2 p-1 w-24 justify-center rounded-md bg-begePrincipal">
                    <i class="fa-solid fa-user"></i>
                    <h1>{{ current_user.puxar_nome() }}</h1>
                </a>

                <a href="{{url_for('logout')}}" class="bg-begePrincipal p-1 w-20 flex flex-row items-center gap-2 justify-center rounded-md">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <h1>Sair</h1>
                </a>
            </div>
            
        </header>

        <dialog id="modal-1" class="h-screen w-1/3">
            <h1>Teste</h1>
        </dialog>
        
    </body>
{% endblock %}