<div class="p-0 m-0 box-border">
        <header class="flex items-center justify-between bg-gradient-to-r from-begePrincipal to-begeForte h-20 w-full flex-row text-brancoCinza fixed">
            <div class="flex items-center gap-4 ml-10">
                <button id="toogleSidebar">
                    <i class="fa-solid fa-bars text-4xl cursor-pointer"></i>
                </button>
                <a href="{{url_for('home')}}" class="decoration-0">
                    <img src="{{url_for('static', filename='imgs/livetech.png')}}" alt="" class="w-40">
                </a>
            </div>

            <div class="flex items-center gap-4 mr-10">
                <a href="{{url_for('home')}}" class="flex flex-row items-center gap-2 px-2 py-1 min-w-fit justify-center rounded-md bg-begePrincipal">
                    <i class="fa-solid fa-user"></i>
                    <h1>{{ current_user.puxar_nome() }}</h1>
                </a>

                <a href="{{url_for('logout')}}" class="bg-begePrincipal p-1 w-20 flex flex-row items-center gap-2 justify-center rounded-md">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <h1>Sair</h1>
                </a>
            </div>
            
        </header>

        <div id="sidebar" class="fixed top-20 left-0 h-full w-80 bg-gradient-to-r from-begePrincipal to-bgSidebar shadow-lg transform -translate-x-full transition-transform duration-300 ease-in-out">
            <div class="flex flex-col h-full p-4 relative">
                <input type="text" placeholder="Buscar..."
                class="rounded-md border border-solid text-cinza border-cinza pl-10 p-1 focus:outline-none w-4/5 mx-auto bg-brancoCinza">
                <i class="fa-solid fa-magnifying-glass absolute text-cinza left-16 top-6"></i>

                <div class="ferramentas-menu-wrapper">
                    <input type="checkbox" id="toogleFerramentas" class="peer hidden">
                    
                    <label for="toogleFerramentas" class="flex justify-center items-center cursor-pointer mt-10 gap-20">
                        <div class="flex items-center gap-2 flex-row">
                            <i class="fa-solid fa-screwdriver-wrench text-2xl text-brancoPrincipal"></i>
                            <span class="text-2xl text-brancoPrincipal font-inter">Ferramentas</span>
                        </div>
                        <i class="fa-solid fa-caret-right text-2xl text-brancoPrincipal w-4 h-4 transition-transform duration-300 ease-in-out peer-checked:rotate-90"></i>
                    </label>

                    <div
                        class="flex flex-col mt-2 space-y-2 px-4 max-h-0 overflow-hidden transition-all duration-300 ease-in-out peer-checked:max-h-56 relative pl-5 
                                before:content-[''] before:absolute before:left-5 before:w-[2px] before:h-[calc(90%-15px)] before:bg-brancoPrincipal before:rounded-[5px]">
                        
                        <ul class="list-none mt-5 p-0">
                            <li class="ml-5 mb-10 relative font-inter font-light
                                    before:content-[''] before:absolute before:top-1 before:left-[-20px] before:w-[20px] before:h-[20px] 
                                    before:border-l-2 before:border-b-2 before:border-brancoPrincipal before:rounded-bl-[10px] before:translate-y-[-50%]">
                            <a class="ml-5 text-lg text-brancoPrincipal" href="{{url_for('distribuicao')}}">Distribuição Lojas</a>
                            </li>
                            <li class="ml-5 mb-10 relative font-inter font-light
                                    before:content-[''] before:absolute before:top-1 before:left-[-20px] before:w-[20px] before:h-[20px] 
                                    before:border-l-2 before:border-b-2 before:border-brancoPrincipal before:rounded-bl-[10px] before:translate-y-[-50%]">
                            <a class="ml-5 text-lg text-brancoPrincipal" href="{{url_for('distribuicao')}}">Distribuição Lojas</a>
                            </li>
                            <li class="ml-5 relative font-inter font-light
                                    before:content-[''] before:absolute before:top-1 before:left-[-20px] before:w-[20px] before:h-[20px] 
                                    before:border-l-2 before:border-b-2 before:border-brancoPrincipal before:rounded-bl-[10px] before:translate-y-[-50%]">
                            <a class="ml-5 text-lg text-brancoPrincipal" href="{{url_for('distribuicao')}}">Distribuição Lojas</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <hr class="border-brancoPrincipal border w-5/6 mt-5 mx-auto">

                <div class="dw-menu-wrapper">

                    <input type="checkbox" id="toogleDW" class="peer hidden">

                    <label for="toogleDW" class="flex justify-center items-center cursor-pointer mt-5 gap-14">
                        <div class="flex items-center gap-2 flex-row text-2xl ">
                            <i class="fa-solid fa-chart-line text-2xl text-brancoPrincipal"></i>
                            <span class="text-2xl text-brancoPrincipal font-inter">Esquemas</span>
                        </div>
                        <i class="fa-solid fa-caret-right text-2xl text-brancoPrincipal w-4 h-4 ml-11 transition-transform duration-300 ease-in-out peer-checked:rotate-90"></i>
                    </label>

                    <div class="flex flex-col mt-2 space-y-2 px-4 max-h-0 overflow-hidden
                                    transition-all duration-300 ease-in-out peer-checked:max-h-[70vh] relative pl-1">
                        <!-- ul com a linha como pseudo-elemento: -->
                        <ul class="list-none mt-5 p-0 pl-6 relative
                                    before:content-[''] before:absolute before:left-3 before:top-0 before:h-[calc(100%-50px)]
                                    before:w-[2px] before:bg-brancoPrincipal before:rounded-[5px]">
                            <li class="ml-2 mb-6 relative font-inter font-light
                                    before:content-[''] before:absolute before:top-1 before:left-[-20px] before:w-[20px] before:h-[20px] 
                                    before:border-l-2 before:border-b-2 before:border-brancoPrincipal before:rounded-bl-[10px] before:translate-y-[-50%]">
                            <a class="pl-5 text-lg text-brancoPrincipal" href="{{url_for('esquemaApi', nome_esquema='Api')}}">Api</a>
                            </li>
                            <li class="ml-2 mb-6 relative font-inter font-light
                                    before:content-[''] before:absolute before:top-1 before:left-[-20px] before:w-[20px] before:h-[20px] 
                                    before:border-l-2 before:border-b-2 before:border-brancoPrincipal before:rounded-bl-[10px] before:translate-y-[-50%]">
                            <a class="pl-5 text-lg text-brancoPrincipal" href="{{url_for('esquemaComercial', nome_esquema='Comercial')}}">Comercial</a>
                            </li>
                            <li class="ml-2 mb-6 relative font-inter font-light
                                    before:content-[''] before:absolute before:top-1 before:left-[-20px] before:w-[20px] before:h-[20px] 
                                    before:border-l-2 before:border-b-2 before:border-brancoPrincipal before:rounded-bl-[10px] before:translate-y-[-50%]">
                            <a class="pl-5 text-lg text-brancoPrincipal" href="{{url_for('esquemaEstoque', nome_esquema='Estoque')}}">Estoque</a>
                            </li>
                            <li class="ml-2 mb-6 relative font-inter font-light
                                    before:content-[''] before:absolute before:top-1 before:left-[-20px] before:w-[20px] before:h-[20px] 
                                    before:border-l-2 before:border-b-2 before:border-brancoPrincipal before:rounded-bl-[10px] before:translate-y-[-50%]">
                            <a class="pl-5 text-lg text-brancoPrincipal" href="{{url_for('esquemaEventos', nome_esquema='Eventos')}}">Eventos</a>
                            </li>
                            <li class="ml-2 mb-6 relative font-inter font-light
                                    before:content-[''] before:absolute before:top-1 before:left-[-20px] before:w-[20px] before:h-[20px] 
                                    before:border-l-2 before:border-b-2 before:border-brancoPrincipal before:rounded-bl-[10px] before:translate-y-[-50%]">
                            <a class="pl-5 text-lg text-brancoPrincipal" href="{{url_for('esquemaLive', nome_esquema='Live')}}">Live</a>
                            </li>
                            <li class="ml-2 mb-6 relative font-inter font-light
                                    before:content-[''] before:absolute before:top-1 before:left-[-20px] before:w-[20px] before:h-[20px] 
                                    before:border-l-2 before:border-b-2 before:border-brancoPrincipal before:rounded-bl-[10px] before:translate-y-[-50%]">
                            <a class="pl-5 text-lg text-brancoPrincipal" href="{{url_for('esquemaMarft', nome_esquema='Marft')}}">Marft</a>
                            </li>
                            <li class="ml-2 mb-6 relative font-inter font-light
                                    before:content-[''] before:absolute before:top-1 before:left-[-20px] before:w-[20px] before:h-[20px] 
                                    before:border-l-2 before:border-b-2 before:border-brancoPrincipal before:rounded-bl-[10px] before:translate-y-[-50%]">
                            <a class="pl-5 text-lg text-brancoPrincipal" href="{{url_for('esquemaPpcp', nome_esquema='Ppcp')}}">Ppcp</a>
                            </li>
                            <li class="ml-2 mb-6 relative font-inter font-light
                                    before:content-[''] before:absolute before:top-1 before:left-[-20px] before:w-[20px] before:h-[20px] 
                                    before:border-l-2 before:border-b-2 before:border-brancoPrincipal before:rounded-bl-[10px] before:translate-y-[-50%]">
                            <a class="pl-5 text-lg text-brancoPrincipal" href="{{url_for('esquemaRh', nome_esquema='Rh')}}">Rh</a>
                            </li>
                            <li class="ml-2 mb-6 relative font-inter font-light
                                    before:content-[''] before:absolute before:top-1 before:left-[-20px] before:w-[20px] before:h-[20px] 
                                    before:border-l-2 before:border-b-2 before:border-brancoPrincipal before:rounded-bl-[10px] before:translate-y-[-50%]">
                            <a class="pl-5 text-lg text-brancoPrincipal" href="{{url_for('esquemaRh_sci', nome_esquema='Rh_sci')}}">Rh_sci</a>
                            </li>
                            <li class="ml-2 mb-6 relative font-inter font-light
                                    before:content-[''] before:absolute before:top-1 before:left-[-20px] before:w-[20px] before:h-[20px] 
                                    before:border-l-2 before:border-b-2 before:border-brancoPrincipal before:rounded-bl-[10px] before:translate-y-[-50%]">
                            <a class="pl-5 text-lg text-brancoPrincipal" href="{{url_for('esquemaSuprimentos', nome_esquema='Suprimentos')}}">Suprimentos</a>
                            </li>
                            <li class="ml-2 mb-6 relative font-inter font-light
                                    before:content-[''] before:absolute before:top-1 before:left-[-20px] before:w-[20px] before:h-[20px] 
                                    before:border-l-2 before:border-b-2 before:border-brancoPrincipal before:rounded-bl-[10px] before:translate-y-[-50%]">
                            <a class="pl-5 text-lg text-brancoPrincipal" href="{{url_for('esquemaSustentabilidade', nome_esquema='Sustentabilidade')}}">Sustentabilidade</a>
                            </li>
                            <li class="ml-2 mb-6 relative font-inter font-light
                                    before:content-[''] before:absolute before:top-1 before:left-[-20px] before:w-[20px] before:h-[20px] 
                                    before:border-l-2 before:border-b-2 before:border-brancoPrincipal before:rounded-bl-[10px] before:translate-y-[-50%]">
                            <a class="pl-5 text-lg text-brancoPrincipal" href="{{url_for('esquemaTi', nome_esquema='Ti')}}">Ti</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </div>